<% if logged_in?%>
  <h3 class="overlay-link" onclick="on()">About this section</h3>
  <div id="overlay" onclick="off()">
    <div id="text">Welcome to our Dead Crypto story section. In view of the recent Terra LUNA and USD crash, the Dead Crypto Archives joins a worldwide campaing to promote mental health. We believe that sharing is an important part of this fight and we invite you to share your story.
    </div>
  </div>
  <a href="/stories/new" id="click-here">Click here to make your contribution!</a>

  <% stories_list.each do |story| %>
    <h4><%= story['user_posting_name'] %> on crypto <%= story['crypto_id'] %>:</h4>

    <p><%= story['story'] %></p>
    <p>On <%= story['date_created'] %></p>
  
    <% if admin_login? %>
      <div class="line-divisor"></div>

      <a href="/stories/<%= story['id'] %>/edit" class="buttons" id="edit-button">Edit this story</a>

      <form onsubmit="return confirm('Are you sure you want to delete this entry?');" action="/stories/<%= story['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete" >
        <button class="form-button">Delete story</button>
      </form>        
    <% end %>
  <% end %>

  <div class="line-divisor"></div>

<% else %>
  
  <% redirect '/' %>

<% end %>
