<h2>Edit Dead Crypto Project</h2>

<form action="/cryptos/<%= crypto['id'] %>" method="POST">
  <input type="hidden" name="_method" value="put">
  

  <label for="">Name: </label>
  <input type="text" name="name" value="<%= crypto['name'] %>" required>

  <label for="">Acronym: </label>
  <input type="text" name="acronym" value="<%= crypto['name'] %>" required>

  <label for="">Year created: </label>
  <input type="number" name="year_created" value="<%= crypto['year_created'] %>" required>

  <label for="">Year ended: </label>
  <input type="number" name="year_ended" value="<%= crypto['year_ended'] %>" required>

   <label for="">Country: </label>
  <input type="text" name="country" value="<%= crypto['country'] %>" required>
  
   <label for="">Project type: </label>
  <input type="text" name="project_type" value="<%= crypto['project_type'] %>" required>

   <label for="">About: </label>
  <input type="text" name="extra_info" value="<%= crypto['extra_info'] %>" required>

  <button>Update this Dead Crypto</button>
</form>

<div class="line-divisor"></div>
