<h2 id="index-welcome">Welcome!</h2>

<div class="line-divisor"></div>

<% if logged_in? %>
  <h2><%= current_user['name'] %>, you are currently logged as "<%= current_user['user_role'] %>."</h2>
  <% if admin_login? %>
    <h2>You can now view, add, edit and remove Dead Cryptos and Stories into the archives.</h2>
  <% else %>
    <h2>You can now view and add new Dead Cryptos and Stories into the Archives.</h2>
  <% end %>

  <h2>Remember to <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form> when you're finished.</h2>

  <div class="line-divisor"></div>

  <article>
    <h3>This little project aims to keep track of the most popular and failed crypto projects</h3>

    <h4>See the about section for more information.</h4>

    <h3>This web app was made purely for educational purpose, as Project 2 for the GA Software Engineer Immersive course, cohort #53</h3>
  </article>
<% else %>
  <h2 id="index-welcome">At the moment, you are our welcomed guest, but you have no access to the project.</h2>

  <h2 id="index-welcome">Please <a href="/sign_up" id="click-here">sign up</a> or <a href="/login" id="click-here">log in</a>, or try our <br><br><a href="/demo-login" id="click-here demo">DEMO ACCOUNT</a></h2>
  <div class="line-divisor"></div>
  <h3>In the meantime, know the current BTC price: <%= btc_price['bitcoin']['aud'] %> AUD.</h3>

  <form action="javascript:history.go(0)">
    <button class="form-button" id="welcome-button">(Click here to update it)</button>
  </form>

  <div class="line-divisor"></div>
  <h3>And here is your daily wisdom dose by <%= apiquinas['author']%>:</h3>
  <h4>"<%= apiquinas['quote'] %>"</h4>

  <h4>Quotes served by APIQUINAS<a href="https://apiquinas.herokuapp.com/" target="_blank">Check it out here!</a>.

<% end %>
