
<% if logged_in? %>

  <h2>List of all the Dead Cypto Projects</h2> 

  <a href="/cryptos/new">Click here to make your contribution!</a>

  <div class="line-divisor"></div>

  <% crypto_list.each do |crypto| %>
    <article class="article-header">
      <h2><%= crypto['name'] %> - <%= crypto['acronym']%></h2>
      <h3><%= crypto['year_created'] %> - <%= crypto['year_ended'] %> - <%= crypto['country'] %></h3>
    </article>

    <article class="article_buttons">
      <a href="/cryptos/<%= crypto['id'] %>/edit" class="buttons">Edit this crypto</a>

      <form onsubmit="return confirm('Are you sure you want to delete this entry?');" action="/delete_crypto/<%= crypto['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete" >
        <button class="form-button">Delete project</button>
      </form>
    </article>

    <article class="article_body">
      <img src="<%= crypto['logo_url'] %>" alt="crypto logo" class="crypto-logo">
      <p>Project type: <%= crypto['project_type']%></p>
      <p>Info: <%= crypto['extra_info']%></p>
    </article>
  <% end %>

  <% else %>

    <% redirect '/' %>
    
  <% end %>